.boton{
  background-color: #fff;
  font-weight: 500;
  text-transform:capitalize;
  border:1px solid var(--gris2);
  padding: .8rem 2rem;
  margin-right: 1rem;;
  transition: box-shadow 1s;
}

.boton:last-of-type{
  margin-right: 0;
}

.boton:hover{
  background: var(--grisSuave);
  box-shadow: 0px 0px 5px 0px var(--gris2);
}

.botonNav{
  background-color: #fff;
  font-weight: 500;
  text-transform:capitalize;
  border: 0px;
  padding: .8rem 2rem;
  margin-right: 1rem;;
  position: relative;
}

.botonNav:after {
  content: '';
  display: block;
  border-bottom: 3px solid var(--secundario);
  width: 0;
  position: absolute;
  right: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  padding-bottom: 5px;
}

.botonNav:hover:after { 
  width: 100%; 
}


